body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Dited';
  src: local("Dited"),
  url("./assets/Dited/Dited.otf");
}

@font-face {
  font-family: "AstroSpace";
  src: local("AstroSpace"),
    url("./assets/a-astro-space-font/AstroSpace.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Anurati";
  src: local("Anurati"),
    url("./assets/anurati_font/Anurati-Regular.otf");
}

@font-face {
  font-family: 'Nixie';
  src: url("./assets/nixie_one/NixieOne.ttf") format("truetype");
}

.blogContent {
  color: white;
  font-family: "Nixie";
  font-size: 22px;
}

.headerName {
  font-family: "AstroSpace";
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}


.navItem {
  font-family: 'Dited';
}

.scroll-arrow {
  animation: blink-animation 0.5s ease-in-out steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

.more-arrow {
  animation: blink-animation 0.5s ease-in-out steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  color: black;
  height: 40vh;
  opacity: 0;
  padding: 30px;
  position: absolute;
  transform: scale(0.85) translateY(50px);
  transition: all 0.75s ease;
  width: 65vw;
}

.project h2,
.project p {
  line-height: 1.5;
  margin: 0;
}
.project.active {
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 1;
}
.project.next {
  opacity: 1;
  z-index: 0;
}
.project.prev {
  opacity: 0;
  transform: scale(1.1) translateY(-50px);
  visibility: hidden;
  z-index: 2;
}
